environment.yml
postBuild
requirements.txt
apt.txt

EgunkariaLogFile_2020_2021_Estatistika.md
EgunkariaLogFile_2020_2021_EstatistikaOld.md
EgunkariaLogFile_2020_2021_TermoOld.md
.DS_Store
1_Termodinamika_2020_2021/.DS_Store
3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/.DS_Store
1_Termodinamika_2020_2021/1_gaia.pdf
1_Termodinamika_2020_2021/2_gaia.pdf
1_Termodinamika_2020_2021/2_gaia_1.pdf
1_Termodinamika_2020_2021/3_gaia.pdf
1_Termodinamika_2020_2021/4_gaia.pdf
1_Termodinamika_2020_2021/5_gaia.pdf
1_Termodinamika_2020_2021/6_gaia.pdf

/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/1_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/2_gaia_1.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/2_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/3_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/4_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/5_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/6_gaia.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/1_Termodinamika_2020_2021/ariketak_FT

/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/2Printzipioa_Ariketak_Nota 31 oct 2019.pdf

/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/F1_2020_2021
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/F2_2020_2021
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/ikasleak_2019_2020.csv
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/ikasleak_2020_2021.csv

/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021

/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/.ipynb_checkpoints
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/.ipynb_checkpoints/P1_ebaluazioa-checkpoint.ipynb


/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_AzterketaPartzialaTermodinamika_2020_2021.aux
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_AzterketaPartzialaTermodinamika_2020_2021.log
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_AzterketaPartzialaTermodinamika_2020_2021.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_AzterketaPartzialaTermodinamika_2020_2021.synctex.gz
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_AzterketaPartzialaTermodinamika_2020_2021.tex
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/1_partzialarekinLotutakoak
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/noelia.csv
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/Notak_000P1_st.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/Notak_P1_st.pdf
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/P1_ebaluazioa.ipynb
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/P1_notak.txt
/Users/jigartua_03ssd/Desktop/TermodinamikaFisikaEstatistikoa2020_2021_ika/3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/P1_2020_2021/Untitled1.ipynb