environment.yml
postBuild
requirements.txt
apt.txt

EgunkariaLogFile_2020_2021_Estatistika.md
EgunkariaLogFile_2020_2021_EstatistikaOld.md
EgunkariaLogFile_2020_2021_TermoOld.md
.DS_Store
1_Termodinamika_2020_2021/.DS_Store
3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/.DS_Store
1_Termodinamika_2020_2021/1_gaia.pdf
1_Termodinamika_2020_2021/2_gaia.pdf
1_Termodinamika_2020_2021/2_gaia_1.pdf
1_Termodinamika_2020_2021/3_gaia.pdf
1_Termodinamika_2020_2021/4_gaia.pdf
1_Termodinamika_2020_2021/5_gaia.pdf
1_Termodinamika_2020_2021/6_gaia.pdf
