environment.yml
postBuild
requirements.txt
apt.txt

EgunkariaLogFile_2020_2021_Estatistika.md
EgunkariaLogFile_2020_2021_EstatistikaOld.md
EgunkariaLogFile_2020_2021_Termo.md
EgunkariaLogFile_2020_2021_TermoOld.md
.DS_Store
1_Termodinamika_2020_2021/.DS_Store
3_NotakTermodinamikaFisikaEstatistikoa_2020_2021/.DS_Store
